<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy Bank Credit Card Design</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/creditcard.css') }}">
</head>
<body>
    <div class="credit-card">
        <div class="card-front">
            <div class="card-header">
                <img src="https://www.dummybankgroup.com/assets/iwov-resources/assets/BrandAssets/dummybank_Logo.svg" alt="dummybank Logo" class="card-logo">
            </div>
            <div class="card-number">**** **** **** 5432</div>
            <div class="card-details">
                <div class="card-holder">JOHN DOE</div>
                <div class="card-expiry">12/24</div>
            </div>
        </div>
<!--        <div class="card-back">-->
<!--            <div class="stripe"></div>-->
<!--            <div class="signature">SIGNATURE</div>-->
<!--            <div class="card-footer">-->
<!--                <div class="contact-info">For inquiries, call: 1800-dummybank-HELP</div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</body>
</html>
